# Dependências do Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ferramentas Portáteis de Build (Java JDK e Android SDK)
.build-env/

# Diretório de compilação de produção
dist/

# Arquivos do sistema
.DS_Store
Thumbs.db
*.log
